.headerContainer{
    background-color: black;
    padding: 15px;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer h2{
    color: rgb(255, 244, 244);
    font-size: 1.3rem;
}